<div class="principal">
<div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
  

  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>

  
  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos%2Fwallpaper-images&psig=AOvVaw1cOJe89eIYcPo4v81AI1Mm&ust=1710014580090000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDSi-u65YQDFQAAAAAdAAAAABAE" alt="Descripción de la imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Título de la Card</h5>
      <p class="card-text">Descripción de la Card</p>
    </div>
  </div>
</div>
